apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: production

resources:
  - ../../base
  
namePrefix: production- 

patches:
  - target:
      kind: Deployment
      labelSelector: "app=backend"
    path: deployment_db_patch.yaml
  - target:
      kind: HTTPRoute
      labelSelector: "app=project-route"
    path: route_production_patch.yaml


images:
  - name: PROJECT/BACKEND
    newName: europe-north1-docker.pkg.dev/dwk-gke-123456/backend-repo/backend-todo:v5

  - name: PROJECT/FRONTEND
    newName: europe-north1-docker.pkg.dev/dwk-gke-123456/frontend-repo/frontend-todo:v4

  - name: PROJECT/BROADCAST
    newName: europe-north1-docker.pkg.dev/dwk-gke-123456/broadcast-repo/broadcast:v7