apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: project
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
  - port: 1345 #frontdoor to my service
    targetPort: 3002
    protocol: TCP
